@import "variables";
.container{
    width: 100%;
    max-width: 1440px;
    margin: auto;
    overflow: hidden;
    //padding: 10px 0px;

    //BLOCK HEADER
    .containerHeader{
        width: 100%;
        padding: 15px 0px;
        background:$colorAzulOscuro;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 500;

        .containerHeader_logo{
            width: auto;
            height: 90px;
            margin-left: 20px;
        }
        .containerHeader_ul{
            width: 650px;
            padding: 10px 0px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            .containerHeader_ul_li{
                width: auto;
                padding: 5px 0px;
                list-style: none;
                text-align: center;
                .containerHeader_ul_li_a{
                    text-decoration: none;
                    color: white;
                }
                .containerHeader_ul_li_a:hover{
                    text-decoration: none;
                    color:$colorVerde;
                }
            }

        }
        .containerHeader_btn{
            margin-right: 20px;
            display: none;
        }
    }

    //BLOCK ABOUT AS
    #cont_descripcion_foto{
        margin-top: 120px;
        width: 100%;
        background:$colorAzul;
        background-image: url(../image/fondoPro.jpg);
        background-size: 100% 100%;
        background-attachment: fixed;
        .contBase{
            width: 100%;
            background:rgba(3, 4, 40, 0.808);
            padding: 120px 50px;
            display: flex;
            flex-direction:row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            position: relative;
            .contenedor_izq{
                width:600px;
                padding: 10px 0px;
                .titulo_acerca{
                    width: 95%;
                    padding: 5px 0px;
                    font-size: $SIZE_TITULOS;
                    color:$COLOR_ORANGE; 
                    line-height: 50px;
                    font-weight: 700; 
                }
                
                .contenedorIzq_parrBtn{
                    margin-top: 20px;
                    width: 100%;
                    padding: 5px 50px;
                    .descripcion_acerca{
                        color:rgb(255, 255, 255);
                        font-weight: 300;
                        line-height: 25px;
                        position: relative;
                        z-index: 10;  
                    }

                    .btnAcerca{
                        margin-top: 30px;
                        width: 200px;
                        padding: 5px;
                        background: transparent;
                        border: 1px solid $COLOR_ORANGE;
                        color: $COLOR_ORANGE;
                        font-size: 18px;
                        font-weight: 300;
                        transition-duration: 0.1s;
                        transition-timing-function: ease;
                        transition: 0.2s all;
                        .iconAB{
                            margin-left: 5px;
                            font-size: 25px;
                            color: $COLOR_ORANGE;
                            transition: 0.2s all;

                        }
                    }
                    
                    .btnAcerca:hover{
                        background: $COLOR_ORANGE;
                        color: $colorAzul;
                        cursor: pointer;
                        border: 1px solid $COLOR_ORANGE;
                        .iconAB{
                            color: $colorAzul;
                            
                        }

                    }
                }
    
            }
            .contenedor_der{
                position: absolute;
                top:40px;
                right: 50px;
                width: 50%;
                .contenedor_der_image{
                    width: auto;
                    height: 450px;
                }
            } 
        }

       
    }

    //BLOCK FOOTER
    .cont_descripcion_footer{
        width: 100%;
        padding: 10px 20px;
        background:$COLOR_ORANGE;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .cont_descripcion_logo{
            width: 50px;
            height:50px;
        }
        .cont_descripcion_reserved{
            padding: 5px;
            .cont_descripcion_reserved_text{
                color: white;
                .text{
                    color: $colorAzul;
                }
            }
        }
        .cont_descripcion_redes{
            width: 110px;
            padding: 10px 0px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            .cont_descripcion_redes_social{
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: $colorAzul;
                border-radius: 5px;
                .conRed{
                    font-size: 15px;
                    color: $COLOR_ROSADO;
                    transition: 0.2s linear;
                }
                &:hover{
                    .conRed{
                        color:$colorVerde;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}




/*

RESPONSIVE DESING OFICIAL NUEVO
@media (min-width:1025px) and (max-width:1200px){}     175px
@media (min-width:900px)  and (max-width:1024px){}     124px
@media (min-width:770px)  and (max-width:899px){}      129px
@media (min-width:641px)  and (max-width:769px){}      128px
@media (min-width:481px)  and (max-width:640px){}      159px
@media (min-width:320px)  and (max-width:480px){}      160px


*/





/*******************************
*********************************/
@media (min-width:320px) and (max-width:899px){
    .container{
        width: 100%;
        max-width: 1440px;
        margin: auto;
        overflow: hidden;
        //padding: 10px 0px;
    
        //BLOCK HEADER
        .containerHeader{
            width: 100%;
            padding: 10px 0px;
            background:$colorAzulOscuro;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            z-index: 500;
            .containerHeader_logo{
                width: 300px;
                height: 80px;
                margin-left: 20px;
            }
            .containerHeader_ul{
                width: 250px;
                padding: 10px 0px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items:flex-start;
                position: fixed;
                left: 0;
                top: 100px;
                background:$colorAzulOscuro;
                overflow: hidden;
                .containerHeader_ul_li{
                    width: 85%;
                    padding: 18px 20px;
                    list-style: none;
                    text-align: start;
                    transition: 0.3s linear;
                    margin-left: 20px;
                    margin-bottom: 5px;
                    border-radius:10px 10px 10px 10px ;
                    .containerHeader_ul_li_a{
                        text-decoration: none;
                        color: white;
                        transition: 0.8s linear;
                        font-weight: 400;

                    }
                }

                .containerHeader_ul_li:hover{
                    background: $COLOR_ORANGE;
                    .containerHeader_ul_li_a{
                        color: $colorAzulOscuro;
                        font-weight: 400;
                    }
                }
    
            }

            .containerHeader_ul::after{
                content: "";
                position: absolute;
                left: 0;
                top:calc(50% - 15px);
                display: block;
                border-bottom: 15px solid transparent;
                border-top: 15px solid transparent;
                border-left: 15px solid $COLOR_ORANGE;
                border-right: 15px solid transparent;

            }
            .containerHeader_btn{
                margin-right: 20px;
                display: block;
            }
        }
    
        //BLOCK ABOUT AS
        #cont_descripcion_foto{
            margin-top:100px;
            width: 100%;
            background:$colorAzul;
            background-image: url(../image/fondoPro.jpg);
            background-size: 100% 100%;
            background-attachment: fixed;
            .contBase{
                width: 100%;
                background:rgba(3, 4, 40, 0.808);
                padding: 120px 50px;
                display: flex;
                flex-direction:row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                position: relative;
                .contenedor_izq{
                    width:600px;
                    padding: 10px 0px;
                    .titulo_acerca{
                        width: 95%;
                        padding: 5px 0px;
                        font-size: $SIZE_TITULOS;
                        color:$COLOR_ORANGE; 
                        line-height: 50px;
                        font-weight: 700; 
                    }
                    
                    .contenedorIzq_parrBtn{
                        margin-top: 20px;
                        width: 100%;
                        padding: 5px 50px;
                        .descripcion_acerca{
                            color:rgb(255, 255, 255);
                            font-weight: 300;
                            line-height: 25px;
                            position: relative;
                            z-index: 10;  
                        }
    
                        .btnAcerca{
                            margin-top: 30px;
                            width: 200px;
                            padding: 5px;
                            background: transparent;
                            border: 1px solid $COLOR_ORANGE;
                            color: $COLOR_ORANGE;
                            font-size: 18px;
                            font-weight: 300;
                            transition-duration: 0.1s;
                            transition-timing-function: ease;
                            transition: 0.2s all;
                            .iconAB{
                                margin-left: 5px;
                                font-size: 25px;
                                color: $COLOR_ORANGE;
                                transition: 0.2s all;
    
                            }
                        }
                        
                        .btnAcerca:hover{
                            background: $COLOR_ORANGE;
                            color: $colorAzul;
                            cursor: pointer;
                            border: 1px solid $COLOR_ORANGE;
                            .iconAB{
                                color: $colorAzul;
                                
                            }
    
                        }
                    }
        
                }
                .contenedor_der{
                    position: absolute;
                    top:40px;
                    right: 50px;
                    width: 50%;
                    .contenedor_der_image{
                        width: auto;
                        height: 450px;
                    }
                } 
            }
    
           
        }
    
        //BLOCK FOOTER
        .cont_descripcion_footer{
            width: 100%;
            padding: 10px 20px;
            background:$COLOR_ORANGE;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .cont_descripcion_logo{
                width: 50px;
                height:50px;
            }
            .cont_descripcion_reserved{
                padding: 5px;
                .cont_descripcion_reserved_text{
                    color: white;
                    .text{
                        color: $colorAzul;
                    }
                }
            }
            .cont_descripcion_redes{
                width: 110px;
                padding: 10px 0px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                .cont_descripcion_redes_social{
                    width: 30px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: $colorAzul;
                    border-radius: 5px;
                    .conRed{
                        font-size: 15px;
                        color: $COLOR_ROSADO;
                        transition: 0.2s linear;
                    }
                    &:hover{
                        .conRed{
                            color:$colorVerde;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    
}

