@import "variables";

.contBtnWatts{
    width: 140px;
    height: 38px;
    padding: 0px 10px;
    position:fixed;
    bottom:80px;
    left: 20px;
    z-index: 50;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: $colorBlanco;
    .contBtnWatts_text{
        color: $colorAzulOscuro;
        font-weight: 700;
        font-size: 14px;
    }
    .iconWatt{
        color: white;
        font-size: 30px;
        color: rgb(78, 242, 89);
        transition: 0.2s all;
    }
    .iconWatt:hover{
        transform: scale(1.1);
    }
}


@media (min-width:320px) and (max-width:423px){
    .contBtnWatts{
        width: 120px;
        height: 40px;
        padding: 5px;
        position:fixed;
        bottom: 50px;
        left: 10px;
        z-index: 20;
        display: flex;
        justify-content:space-around;
        align-items: center;
        background: $colorBlanco;
        .contBtnWatts_text{
            color:$colorAzulOscuro;
            font-size: 14px;
            font-weight: 700;
        }
        .iconWatt{
            color: white;
            font-size: 25px;
            color: rgb(78, 242, 89);
            transition: 0.2s all;
        }
    }
}